<li  [ngClass] = "{'list-group-item':true,
'list-group-item-success':postLovesIt > 0,
'list-group-item-danger':postLovesIt < 0}">

  <div class="pull-left">
    <h2><b> {{postTitle}} </b></h2>
  </div>
  <div class="pull-right">
    <h4 class="text-right" style="color:gray;"> <i>{{postCreatedAt | date:'MM/dd/yyyy, hh:mm aaa'}} </i></h4>
  </div>
  <div class="clearfix"> </div>
  <div> {{postContent}}</div>
  <button class="btn btn-success" (click)="upLovesIt()"> Love it !! </button>
  <button class="btn btn-danger" (click)="downLovesIt()"> Don't love it !!</button>
</li>
