<div class="container">
  <h1> {{title}} </h1>
  <ul class="list-group">
    <app-post-list *ngFor="let post of posts"
                    [postTitle]="post.title"
                    [postContent]="post.content"
                    [postLovesIt]="post.lovesIt"
                    [postCreatedAt]="post.created_at"
    > </app-post-list>
  </ul>

</div>
